In [10]:
import os

In [11]:
import pandas as pd

In [12]:
base_path = os.path.abspath('.')

In [23]:
def get_data_by_years(years, names=None, add_year=False):
    df = pd.DataFrame()
    for year in years:
        full_path = os.path.join(base_path, f'data/yob{str(year)}.txt')
        df1 = pd.read_csv(full_path, names=names)
        if add_year:
            df1['year'] = year
        df = df.append(df1, ignore_index=True)
        
    return df

In [37]:
def count_top3(years, top=3):
    df = get_data_by_years(years, names=['name', 'gender', 'count'])
    
    return df.groupby(['name', 'gender']).sum().sort_values(['count'], ascending=False)[:top]

In [38]:
def count_dynamics(years):
    df = get_data_by_years(years, names=['name', 'gender', 'count'], add_year=True)
    
    return df.pivot_table(['count'], ['gender'], ['year'], aggfunc='sum')

In [39]:
years = [1880]
df = count_top3(years)

In [40]:
df.head()

                count
name    gender
John    M        9655
William M        9532
Mary    F        7065

In [43]:
years = [1900, 1950, 2000]
df1 = count_dynamics([1900, 1950, 2000])

In [46]:
df1

         count
year      1900     1950     2000
gender
F       299798  1713065  1815295
M       150480  1790437  1963202